# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native / EAS (managed workflow)
android/
ios/
.kotlin/
*.orig.*

# Certificates / Keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Firebase native configs (recommended ignore)
google-services.json
GoogleService-Info.plist

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# TypeScript (even if project is JS)
*.tsbuildinfo

# Misc
app-example
